<div class="relative inline-block text-left text-xs">
  <div
    class="min-w-36 hover:text-black cursor-pointer"
    (click)="toggleFilterSelection()"
  >
    <div
      class="inline-flex w-full justify-between gap-x-1.5 bg-green-700 px-3 py-1 select-none"
    >
      2021/08
      <svg
        class="-mr-1 size-5 transition-all duration-300"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        data-slot="icon"
        [ngClass]="{
          'transform rotate-180':
            isFilterSelectionOpen,
        }"
      >
        <path
          fill-rule="evenodd"
          d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>

  <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
  @if (isFilterSelectionOpen) {
  <div
    class="absolute right-0 z-10 min-w-36 origin-top-left bg-black text-white"
  >
    <div
      class="px-2 py-2 uppercase flex flex-col gap-1 text-white select-none cursor-pointer"
    >
      <div class="flex gap-2">
        <app-range-date-picker></app-range-date-picker>
      </div>
    </div>
    <div
      class="px-2 py-2 uppercase flex flex-col gap-1 hover:bg-green-700 text-white select-none cursor-pointer"
      (click)="toggleFilterSelection()"
    >
      Fist year
    </div>
    <div
      class="px-2 py-2 uppercase flex flex-col gap-1 hover:bg-green-700 text-white select-none cursor-pointer"
      (click)="toggleFilterSelection()"
    >
      Last year
    </div>
    <div
      class="px-2 py-2 uppercase flex flex-col gap-1 hover:bg-green-700 text-white select-none cursor-pointer"
      (click)="toggleFilterSelection()"
    >
      Entire project
    </div>
  </div>
  }
</div>
