<div
  class="relative inline-block text-left text-xs bg-red-400"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div
    class="min-w-72 hover:text-black cursor-pointer"
    (click)="toggleFilterSelection()"
  >
    <div
      class="inline-flex w-full justify-between gap-x-1.5 bg-green-700 px-3 py-1 select-none uppercase"
    >
      @if (selectedImageFilters()?.date) {
      {{ selectedImageFilters()?.date | date : "dd/MM/yyyy" }}
      } @else { @if (start() && end()) {
      {{ start() | date : "dd/MM/yyyy" }} - {{ end() | date : "dd/MM/yyyy" }}
      } @else { Entire project} }
      <svg
        class="-mr-1 size-5 transition-all duration-300"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        data-slot="icon"
        [ngClass]="{
          'transform rotate-180': isFilterSelectionOpen
        }"
      >
        <path
          fill-rule="evenodd"
          d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>

  @if (isFilterSelectionOpen()) {
  <div
    class="absolute right-0 z-10 min-w-72 origin-top-left bg-black text-white uppercase"
  >
    <div
      class="px-2 py-2 uppercase flex flex-col gap-1 text-white select-none cursor-pointer"
    >
      <div class="flex gap-2 w-full">
        <app-date-range-picker
          [(start)]="start"
          [(end)]="end"
          (dateChange)="onDateChange()"
          [(pickerOpened)]="pickerOpened"
          [(isFilterSelectionOpen)]="isFilterSelectionOpen"
          class="w-full"
          id="1"
        ></app-date-range-picker>
      </div>
    </div>
    <div
      class="px-2 py-2 uppercase flex flex-col gap-1 hover:bg-green-700 text-white select-none cursor-pointer"
      (click)="setFirstYear()"
    >
      First year
    </div>
    <div
      class="px-2 py-2 uppercase flex flex-col gap-1 hover:bg-green-700 text-white select-none cursor-pointer"
      (click)="setSecondYear()"
    >
      Last year
    </div>
    <div
      class="px-2 py-2 uppercase flex flex-col gap-1 hover:bg-green-700 text-white select-none cursor-pointer"
      (click)="removeFilter()"
    >
      Entire project
    </div>
  </div>
  }
</div>
