@if (imageCurrentIndex() != undefined && images() != undefined && (images()?.length ?? 0) > 0){
<div class="w-full h-full">
  <splide
    #splide
    [options]="{
      pagination: false,
      gap: '0rem',
      classes:{
        prev  : 'splide__arrow--prev transparent-background',
        next  : 'splide__arrow--next transparent-background',
      },
      }"
  >
    @for (image of images(); track $index) {
    <splide-slide>
      <div
        class="h-full cursor-pointer flex justify-center items-center relative"
      >
        <div class="w-[50%] relative">
          <div
            (click)="closeImageDetail()"
            class="text-white absolute top-0 right-0 text-2xl p-1"
          >
            [X]
          </div>
          <div class="text-white absolute top-0 left-0 text-2xl p-1">
            {{ imageCurrentIndex()! }}
          </div>
          <img
            ngOptimizedImage
            loading="lazy"
            class="z-40 w-full"
            [src]="imageBaseUrl + image.image_name"
          />
        </div>
      </div>
    </splide-slide>
    }
  </splide>
</div>
}
