<div
      class="flex fixed top-0 p-4 left-0 z-10 w-screen justify-between text-l text-gray-400 font-mono_lite"
    >
    <div class="flex gap-6">
        <div class="cursor-pointer">
            EXPERIENCE
        </div>  
        <div class="cursor-pointer">
            ARCHIVE
        </div>
        <div class="cursor-pointer">
            ABOUT
        </div>
    </div>
    <div class="flex flex-col">
        <div>TOBIA FAVERIO</div>
        <a class="underline cursor-pointer" href="mailto:aculei@aculei.xyz">aculei&#64;aculei.xyz</a>
    </div>
</div>