<div
  class="grid grid-cols-12 gap-x-3 fixed top-0 p-4 left-0 z-50 w-full text-xs text-gray-200 font-mono_lite h-26 mix-blend-difference"
  [ngClass]="{ relative: rlaArchive.isActive || rlaAbout.isActive }"
>
  <div
    class="cursor-pointer"
    routerLinkActive
    #rlaHome="routerLinkActive"
    [routerLink]="['']"
  >
    HOME
  </div>
  <div
    class="cursor-pointer"
    routerLinkActive
    #rlaArchive="routerLinkActive"
    [routerLink]="['archive']"
  >
    ARCHIVE
  </div>
  <div
    class="cursor-pointer"
    routerLinkActive
    #rlaExperience="routerLinkActive"
    [routerLink]="['experience']"
  >
    EXPERIENCE
  </div>
  <div></div>
  <div></div>
  <div class="uppercase col-span-6">
    <div class="hyphens-auto break-words" lang="en">
      ACULEI.XYZ IS AN INTERACTIVE ARCHIVE BASED ON 30.342 IMAGES (APR.25)
      RECORDED SINCE 2020 BY 7 HUNTERCAMS AROUND THE PICCO DELL'AQUILA VALLEY,
      UMBRIA ITALY. AN AI, TRAINED TO RESPECT THE AUTONOMOUS SHOOTING SYSTEM,
      CLASSIFIES AND DIVIDES THE SELECTED IMAGES ACCORDING TO HIS OWN
      INTER&shy;PRETATION. AS TODAY ITS ACCURACY IS 93%. KEEP THIS IN MIND AS
      YOU NAVIGATE THROUGH THE ARCHIVE AND LET THE TECHNOLOGY DRIVE YOU AROUND
      THE VALLEY SWARM.
    </div>
  </div>
  <div
    class="cursor-pointer flex justify-end"
    routerLinkActive
    #rlaAbout="routerLinkActive"
    [routerLink]="['about']"
  >
    ABOUT
  </div>
</div>
