<div class="w-screen bg-black font-mono_lite text-2xs">
  <div
    class="relative h-full flex flex-col text-gray-300 w-full text-xs pt-24 pb-16"
  >
    <div class="w-full md:block hidden relative">
      <div class="bg-green-700 h-4 w-full"></div>
      <div class="w-full flex justify-between absolute z-50">
        <div class="min-w-44"></div>
        <div class="flex gap-4">
          <app-filters-dropdown
            [animals]="filters.animal?.values"
            [(selectedAnimalsFilters)]="selectedAnimalsFilters"
          ></app-filters-dropdown>
          <app-filters-datepicker
            [(start)]="start"
            [(end)]="end"
            (dateChange)="fetchArchive()"
          ></app-filters-datepicker>
        </div>
        <div class="flex gap-4">
          <app-filters-temperature
            [(temperatureFromToFilters)]="temperatureFromToFilters"
          ></app-filters-temperature>
          <app-filters-moon-phase [(selectedMoonPhasesFilters)]="selectedMoonPhasesFilters"></app-filters-moon-phase>
        </div>
      </div>
    </div>
    @for (camImages of getCams(); track $index) {
    <div class="flex gap-8 font-mono_lite mb-1">
      <div>{{ camImages }}</div>
    </div>
    <app-archive-carousel
      [images]="groupedImages[camImages]"
      class="mb-4"
    ></app-archive-carousel>
    }
  </div>
</div>
