<div class="relative w-full h-full flex">
  @if (images()?.length) {
  <div class="h-full w-full flex justify-center items-center relative group">
    <div class="w-[50%] relative cursor-pointer">
      <button
        (click)="closeImageDetail()"
        class="text-white absolute top-0 right-0 p-1 z-10 uppercase text-[1.1rem]"
        title="Close Image [Esc]"
      >
        [X]
      </button>
      <img
        oncontextmenu="return false"
        ngOptimizedImage
        loading="lazy"
        class="z-40 w-full"
        (click)="handleImageClick($event)"
        [src]="imageBaseUrl + images()?.[imageCurrentIndex()!]?.image_name"
        [id]="images()?.[imageCurrentIndex()!]?.id"
      />
    </div>
  </div>
  }
</div>
