<div class="relative w-full h-full flex">
  @if (images()?.length) {
  <div
    class="h-full w-full cursor-pointer flex justify-center items-center relative"
  >
    <div class="w-[50%] relative">
      <button
        (click)="closeImageDetail()"
        class="text-white absolute top-0 right-0 text-2xl p-1 mix-blend-difference"
        title="Close Image [Esc]"
      >
        [X]
      </button>
      <div
        class="text-white absolute top-0 left-0 text-2xl p-1 mix-blend-difference"
      >
        [{{ imageCurrentIndex()! + 1 }}]
      </div>
      <img
        ngOptimizedImage
        loading="lazy"
        class="z-40 w-full"
        (click)="handleImageClick($event)"
        [src]="imageBaseUrl + images()?.[imageCurrentIndex()!]?.image_name"
      />
    </div>
  </div>
  }
  <button
    (click)="prevImage()"
    class="absolute top-1/2 left-2 transform -translate-y-1/2 text-white p-2 rounded-full transition"
    title="Previous Image [Left Arrow]"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 19.5 8.25 12l7.5-7.5"
      />
    </svg>
  </button>
  <button
    (click)="nextImage()"
    class="absolute top-1/2 right-2 transform -translate-y-1/2 text-white p-2 rounded-full transition"
    title="Next Image [Right Arrow]"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m8.25 4.5 7.5 7.5-7.5 7.5"
      />
    </svg>
  </button>
</div>
