<video
    class="w-full h-full object-cover absolute top-0 left-0 z-0"
    autoplay
    muted
    loop
    src="/assets/video2.mp4"
    type="video/mp4"
  ></video>
<div
  class="background-archive-detail absolute top-0 w-screen min-h-full font-mono_lite text-2xs"
>
  <div class="mt-20 relative flex flex-col text-gray-300 w-full text-xs">
    <div class="w-full md:block hidden">
      <div class="bg-green-700 h-4 w-full"></div>
      <div class="w-full flex justify-between">
        <div class="min-w-44"></div>
        <div class="flex gap-4">
          <button
            class="bg-green-700 p-1 px-2 flex justify-between items-center min-w-64 uppercase"
          >
            <div>{{image?.predicted_animal}}</div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </div>
          </button>
          <button
            class="bg-green-700 p-1 px-2 gap-2 flex justify-between items-center"
          >
            <div>{{image?.date}}</div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </div>
          </button>
        </div>
        <div class="flex gap-4">
          <button
            class="bg-green-700 p-1 px-2 flex justify-between items-center min-w-24"
          >
            <div>{{image?.temperature}}°C</div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </div>
          </button>
          <button
            class="bg-green-700 p-1 px-2 flex justify-between items-center min-w-24 mr-6"
          >
            <div>O</div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-full mt-4 top-0 flex justify-center items-center"
  >
    <img src="assets/volpe.jpg" class="max-w-[50%]" alt="" />
  </div>
</div>
