<div class="mt-32 h-full w-full font-mono_lite text-gray-200 text-xs">
  <div
    class="grid grid-cols-12 gap-x-3 gap-7 p-4 w-full text-xs text-gray-200 font-mono_lite uppercase"
  >
    <div class="col-span-5"></div>
    <div class="col-span-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eos
      eum voluptates similique, dolorem, nemo culpa, itaque iure eveniet nulla
      expedita sequi debitis. Assumenda deserunt nesciunt id autem nisi nostrum.
      Iste deserunt, ipsa aspernatur libero rerum dolores quibusdam, recusandae
      ad dolor itaque doloremque. Mollitia illo architecto voluptate amet
      laudantium delectus suscipit, minima nemo eius. Commodi modi illum amet in
      corporis? Veritatis tempora ipsa maiores ab quam laudantium totam debitis
      ex alias qui sed sequi perferendis enim facere optio consectetur
      asperiores at minus quaerat, cupiditate beatae soluta quasi! Illo, impedit
      natus. Exercitationem delectus, assumenda labore magni nemo aspernatur
      consequatur in voluptate iusto soluta eius fuga animi cupiditate dolore,
      aperiam officiis voluptatibus quod totam sequi ea ab corporis vitae dolor
      molestiae? Eum. Voluptatum quia fugit vitae nam labore officia ipsam illum
      dolore hic at quisquam assumenda perspiciatis ducimus, ut aliquam officiis
      quae quod esse modi. Ad accusantium voluptas minus et quis similique!
      Reprehenderit dolores fugit explicabo consectetur accusamus, velit illum
      quasi nisi, dicta soluta id molestias accusantium ea. Accusamus est
      aperiam velit exercitationem, quos commodi quae iure alias ex, magnam
      voluptate incidunt! Porro veniam architecto accusantium eum illo accusamus
      harum veritatis, deleniti iure iste dignissimos hic amet reprehenderit
      placeat quaerat a vitae eaque aspernatur unde aperiam earum velit corrupti
      aliquam. Nesciunt, ex. Magni voluptates dolorum quidem cumque velit
      aliquam quae ipsa inventore autem alias error aspernatur repudiandae fuga
      assumenda laudantium ipsum libero asperiores rem, illo, pariatur hic
      temporibus quod reprehenderit! Quae, reprehenderit? Dolor debitis
      veritatis asperiores corporis, adipisci iure reiciendis repellat dolore
      eos, delectus blanditiis in quod quas tempora molestias sequi accusamus
      itaque praesentium voluptates at. Maiores commodi exercitationem illum
      alias placeat! Labore rem est totam ipsa. Necessitatibus nihil deleniti
      pariatur asperiores tenetur dolor ipsam, cumque libero accusantium
      cupiditate excepturi, ullam, atque eaque quasi voluptatibus sapiente? Cum
      veritatis consectetur natus necessitatibus ea?
      <figure class="my-8">
        <img
          src="assets/about/clusters.png"
          alt="clusters"
          class="object-cover w-full h-auto"
        />
        <figcaption class="mt-2 text-gray-400">
          Fig. 1: The x and y axes represent the results of dimensionality
          reduction using t-SNE, applied to image embeddings generated by a
          pre-trained CLIP model (excluding the head layer). The visualized
          clusters correspond to the output of a K-means clustering algorithm
          applied to the reduced embeddings.
        </figcaption>
      </figure>
    </div>
    <div></div>

    <div class="col-span-5"></div>
    <div class="col-span-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eos
      eum voluptates similique, dolorem, nemo culpa, itaque iure eveniet nulla
      expedita sequi debitis. Assumenda deserunt nesciunt id autem nisi nostrum.
      Iste deserunt, ipsa aspernatur libero rerum dolores quibusdam, recusandae
      ad dolor itaque doloremque. Mollitia illo architecto voluptate amet
      laudantium delectus suscipit, minima nemo eius. Commodi modi illum amet in
      corporis? Veritatis tempora ipsa maiores ab quam laudantium totam debitis
      ex alias qui sed sequi perferendis enim facere optio consectetur
      asperiores at minus quaerat, cupiditate beatae soluta quasi! Illo, impedit
      natus. Exercitationem delectus, assumenda labore magni nemo aspernatur
      consequatur in voluptate iusto soluta eius fuga animi cupiditate dolore,
      aperiam officiis voluptatibus quod totam sequi ea ab corporis vitae dolor
      molestiae? Eum. Voluptatum quia fugit vitae nam labore officia ipsam illum
      dolore hic at quisquam assumenda perspiciatis ducimus, ut aliquam officiis
      quae quod esse modi. Ad accusantium voluptas minus et quis similique!
      Reprehenderit dolores fugit explicabo consectetur accusamus, velit illum
      quasi nisi, dicta soluta id molestias accusantium ea. Accusamus est
      aperiam velit exercitationem, quos commodi quae iure alias ex, magnam
      voluptate incidunt! Porro veniam architecto accusantium eum illo accusamus
      harum veritatis, deleniti iure iste dignissimos hic amet reprehenderit
      placeat quaerat a vitae eaque aspernatur unde aperiam earum velit corrupti
      aliquam. Nesciunt, ex. Magni voluptates dolorum quidem cumque velit
      aliquam quae ipsa inventore autem alias error aspernatur repudiandae fuga
      assumenda laudantium ipsum libero asperiores rem, illo, pariatur hic
      temporibus quod reprehenderit! Quae, reprehenderit? Dolor debitis
      veritatis asperiores corporis, adipisci iure reiciendis repellat dolore
      eos, delectus blanditiis in quod quas tempora molestias sequi accusamus
      itaque praesentium voluptates at. Maiores commodi exercitationem illum
      alias placeat! Labore rem est totam ipsa. Necessitatibus nihil deleniti
      pariatur asperiores tenetur dolor ipsam, cumque libero accusantium
      cupiditate excepturi, ullam, atque eaque quasi voluptatibus sapiente? Cum
      veritatis consectetur natus necessitatibus ea?
      <figure class="my-8">
        <img
          src="assets/about/elbow-method.png"
          alt="elbow-method"
          class="object-cover w-full h-auto"
        />
        <figcaption class="mt-2 text-gray-400">
          Fig. 2: The x axis represent the number of clusters, while the y axis
          represents the inertia of the K-means clustering algorithm.
        </figcaption>
      </figure>
    </div>
    <div></div>

    <div class="col-span-5"></div>
    <div class="col-span-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eos
      eum voluptates similique, dolorem, nemo culpa, itaque iure eveniet nulla
      expedita sequi debitis. Assumenda deserunt nesciunt id autem nisi nostrum.
      Iste deserunt, ipsa aspernatur libero rerum dolores quibusdam, recusandae
      ad dolor itaque doloremque. Mollitia illo architecto voluptate amet
      laudantium delectus suscipit, minima nemo eius. Commodi modi illum amet in
      corporis? Veritatis tempora ipsa maiores ab quam laudantium totam debitis
      ex alias qui sed sequi perferendis enim facere optio consectetur
      asperiores at minus quaerat, cupiditate beatae soluta quasi! Illo, impedit
      natus. Exercitationem delectus, assumenda labore magni nemo aspernatur
      consequatur in voluptate iusto soluta eius fuga animi cupiditate dolore,
      aperiam officiis voluptatibus quod totam sequi ea ab corporis vitae dolor
      molestiae? Eum. Voluptatum quia fugit vitae nam labore officia ipsam illum
      dolore hic at quisquam assumenda perspiciatis ducimus, ut aliquam officiis
      quae quod esse modi. Ad accusantium voluptas minus et quis similique!
      Reprehenderit dolores fugit explicabo consectetur accusamus, velit illum
      quasi nisi, dicta soluta id molestias accusantium ea. Accusamus est
      aperiam velit exercitationem, quos commodi quae iure alias ex, magnam
      voluptate incidunt! Porro veniam architecto accusantium eum illo accusamus
      harum veritatis, deleniti iure iste dignissimos hic amet reprehenderit
      placeat quaerat a vitae eaque aspernatur unde aperiam earum velit corrupti
      aliquam. Nesciunt, ex. Magni voluptates dolorum quidem cumque velit
      aliquam quae ipsa inventore autem alias error aspernatur repudiandae fuga
      assumenda laudantium ipsum libero asperiores rem, illo, pariatur hic
      temporibus quod reprehenderit! Quae, reprehenderit? Dolor debitis
      veritatis asperiores corporis, adipisci iure reiciendis repellat dolore
      eos, delectus blanditiis in quod quas tempora molestias sequi accusamus
      itaque praesentium voluptates at. Maiores commodi exercitationem illum
      alias placeat! Labore rem est totam ipsa. Necessitatibus nihil deleniti
      pariatur asperiores tenetur dolor ipsam, cumque libero accusantium
      cupiditate excepturi, ullam, atque eaque quasi voluptatibus sapiente? Cum
      veritatis consectetur natus necessitatibus ea?
      <figure class="my-8">
        <img
          src="assets/about/sift.png"
          alt="clusters"
          class="object-cover w-full h-auto"
        />
        <figcaption class="mt-2 text-gray-400">
          Fig. 3: An example of the SIFT algorithm applied to two images.
          Keypoints are detected and matched between the two images. The lines
          connecting the keypoints indicate the matches found by the algorithm.
        </figcaption>
      </figure>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum a eligendi
      consectetur architecto adipisci mollitia delectus dignissimos. Error
      doloremque totam, perspiciatis necessitatibus quod quo quisquam, molestias
      odit harum aliquid nesciunt. Quam commodi autem quasi facere deserunt
      tenetur eum libero enim voluptatum! Soluta iste quod quidem, pariatur
      provident voluptate corrupti doloribus praesentium, quos sunt, atque
      molestiae possimus? Quidem reprehenderit eius dignissimos? Minus culpa
      nesciunt exercitationem debitis deleniti enim iure et modi molestiae
      ipsam, animi pariatur nihil dolores temporibus dolorum reiciendis ut fugit
      adipisci assumenda odio. Laudantium deserunt ad illo doloremque a!
      Officiis voluptatum aliquam ullam maxime, eum tempora alias facere vel
      temporibus ducimus? Natus vitae hic recusandae, voluptatem ratione quam,
      est suscipit neque ex alias cumque laboriosam. Alias dolor harum itaque?
      Distinctio consectetur ex fugit laudantium nesciunt sed odit illo porro in
      tempora eum expedita ut repellat excepturi pariatur vitae neque, veniam
      quis nisi veritatis blanditiis nihil iure tempore vel. Impedit. Ab
      laboriosam, consectetur sequi corrupti omnis aspernatur? Temporibus a
      repellendus asperiores! Harum illum assumenda nihil at veritatis
      perspiciatis necessitatibus deleniti, consectetur, amet delectus possimus
      ullam dolore saepe, officia labore rerum? Saepe reprehenderit aliquam
      natus dolore explicabo aut possimus impedit eligendi, corrupti non,
      corporis quibusdam maiores porro. Ad commodi iste quos tempore,
      praesentium, aliquid odio beatae delectus natus ipsam harum saepe.
    </div>
    <div></div>
  </div>

  <div
    class="mt-16 mb-16 grid grid-cols-12 gap-x-3 gap-7 p-4 w-full text-xs text-gray-200 font-mono_lite uppercase"
  >
    <div class="col-span-6"></div>
    <div class="col-span-2 flex flex-col gap-2">
      <p>PHOTOs & CONCEPT</p>
      <p>DEVELOPMENT</p>
      <p class="">DESIGN</p>
    </div>
    <div></div>
    <div class="col-span-2 flex flex-col gap-2">
      <p>
        <a href="https://tobiafaverio.com" target="_blank">TOBIA FAVERIO</a>
      </p>
      <p>
        <a href="https://benzebra.github.io" target="_blank">
          FILIPPO BRAJUCHA</a
        >,
        <a href="https://micheledinelli.github.io" target="_blank">
          MICHELE DINELLI</a
        >,
        <a href="https://youssefhanna.it" target="_blank">YOUSSEF HANNA</a>
      </p>
      <p>
        <a href="https://www.instagram.com/martina_bracchi_" target="_blank"
          >MARTINA BRACCHI</a
        >
      </p>
    </div>
    <div></div>

    <div class="col-span-9"></div>
    <div class="col-span-3">
      ALL IMAGES SHOT &#64;
      <a
        href="https://www.lafonte-agriturismo.it/"
        target="_blank"
        class="underline"
        >LA FONTE</a
      >, PERUGIA, ITALY
    </div>
  </div>
</div>
