<div class="h-full w-full mt-28 font-mono_lite text-gray-200 text-xs">
  <div
    class="grid grid-cols-12 gap-x-3 p-4 w-full font-mono_lite mix-blend-difference"
  >
    <div class="col-span-5"></div>
    <div class="uppercase col-span-6 grid grid-cols-1 gap-8 text-center">
      <div>
        <p class="text-[0.7rem] text-gray-400">PHOTOs & CONCEPT</p>
        <a href="https://tobiafaverio.com" target="_blank">TOBIA FAVERIO</a>
      </div>
      <div class="grid grid-cols-3">
        <div>
          <p class="text-[0.7rem] text-gray-400">FRONTEND DEVELOPMENT</p>
          <a href="https://youssefhanna.it" target="_blank">YOUSSEF HANNA</a>
        </div>
        <div>
          <p class="text-[0.7rem] text-gray-400">AI DEVELOPMENT</p>
          <a href="https://benzebra.github.io" target="_blank"
            >FILIPPO BRAJUCHA</a
          >
        </div>
        <div>
          <p class="text-[0.7rem] text-gray-400">
            BACKEND, AI, INFRASTRUCTURE DEVELOPMENT
          </p>
          <a href="https://micheledinelli.github.io" target="_blank"
            >MICHELE DINELLI</a
          >
        </div>
      </div>
      <div>
        <p class="text-[0.7rem] text-gray-400">DESIGN</p>
        <a
          href="https://www.linkedin.com/in/martina-bracchi-0544491b0/"
          target="_blank"
          >MARTINA BRACCHI</a
        >
      </div>
    </div>
    <div></div>
  </div>

  <div
    class="mt-28 grid grid-cols-12 gap-x-3 gap-7 p-4 w-full text-xs text-gray-200 font-mono_lite uppercase"
  >
    <div>I. INTRODUCTION</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="uppercase col-span-3 text-start">
      Computer vision, a pivotal domain within artificial intelligence, focuses
      on enabling machines to interpret and derive meaningful information from
      digital images, videos, and other visual inputs. Analogous to the human
      visual system, which learns to recognize and contextualize visual stimuli
      through years of experience, computer vision systems must acquire this
      capability in a significantly compressed timeframe. This is typically
      achieved through deep learning methodologies, with
      <span class="text-green-600">Convolutional Neural Networks</span>
      (CNNs) playing a central role due to their capacity to model spatial
      hierarchies and learn high-level features from raw pixel data. In recent
      years, computer vision has evolved from simple pattern recognition to more
      complex visual reasoning, supported by a rapidly growing ecosystem of
      algorithms and pre-trained models. Among the techniques applied in this
      project are Optical Character Recognition (OCR)—used to extract textual
      information embedded within images and
    </div>
    <div class="uppercase col-span-3 text-start">
      <span class="text-green-600">zero-shot image classification</span>, which
      enables classification of visual content without requiring prior
      task-specific annotated examples. The latter is made possible through the
      use of vision-language models such as CLIP, which align textual and visual
      modalities in a shared embedding space. These methodologies have been
      extensively employed in the construction and processing of the Aculei
      dataset, which comprises over 16,000 automatically captured wildlife
      photographs. Given the scale and unstructured nature of the data,
      traditional manual annotation is infeasible. Thus, leveraging computer
      vision is not merely advantageous but essential for extracting semantic
      insights, identifying species, and organizing the dataset in a meaningful
      and interactive manner. The resulting archive serves both scientific and
      artistic goals, functioning as a computational lens into the natural
      ecosystem of the Umbrian forests while offering a novel mode of visual
      storytelling.
    </div>
    <div></div>

    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="col-span-7">
      <figure>
        <img
          class="w-full h-auto"
          src="/assets/hunter-camera-collection.webp"
          alt="Hunter Camera Collection Process"
        />
        <figcaption class="text-[0.7rem] text-gray-400">
          Fig. 1: Processo di raccolta delle immagini dalle fototrappole
        </figcaption>
      </figure>
    </div>

    <div>II. DESCRIPTION OF THE PROBLEM</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="uppercase col-span-3 text-start">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
      repellendus mollitia ea, distinctio dicta minima tempora velit sint
      excepturi sapiente rem soluta necessitatibus doloremque dolor earum
      aliquam sit deleniti? Quis minus debitis harum recusandae doloribus illo
      quam consequuntur maxime, sequi inventore dolor cumque aut nesciunt
      perspiciatis dicta voluptas possimus sit, veniam et culpa magni! Quo
      placeat qui, totam commodi eum voluptatem libero suscipit, nostrum alias
      cum illum quasi. Ab aliquam incidunt blanditiis commodi ducimus nostrum
      doloremque labore inventore provident tenetur, cupiditate culpa laboriosam
      quis quaerat odio iusto pariatur perspiciatis, repellat odit. Unde ad
      adipisci architecto cumque eveniet et, dolores ab qui. Quos dolore autem
      ut, nisi nam sequi reiciendis ea alias, fugit facere possimus? Autem,
      officiis. Id voluptatum ea voluptatibus tenetur, quaerat assumenda soluta
      pariatur sapiente ut, sit et, sed ipsum voluptas fugit. Ipsa mollitia
      impedit maxime ad repellat magnam consequatur quisquam ea voluptatum
      distinctio labore expedita dignissimos esse, molestiae necessitatibus
      facere debitis nulla error amet eveniet ut et obcaecati quasi quod. Quis
      laborum mollitia quibusdam doloremque iste quod a corporis soluta, aliquid
      fugit eligendi dicta quo quos aspernatur maiores, ullam nisi architecto
      neque eius vitae quidem quia voluptate recusandae porro? Expedita optio
      eligendi distinctio veritatis labore perferendis quisquam laborum?
    </div>
    <div class="uppercase col-span-3 text-start">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
      voluptates? Vitae, mollitia accusantium incidunt amet eaque explicabo
      cumque sapiente suscipit obcaecati esse nostrum fugit, eligendi molestiae,
      exercitationem blanditiis atque et magni fugiat delectus quia unde.
      Deserunt, est sapiente rerum mollitia quibusdam, accusantium tempora eius
      itaque hic consequatur perspiciatis cumque, delectus atque veniam?
      Blanditiis suscipit ad repellendus, ullam nemo fugit autem iste voluptatem
      enim nam! Dolorum consequatur laborum ratione expedita enim voluptatem
      dolores vitae ipsam id at! Excepturi tempore aperiam, dolore laboriosam
      quia ex consectetur obcaecati distinctio minima nihil ea aliquid
      perferendis officiis et. Dolorum illo voluptatum quisquam minus. Sit
      consequatur fuga molestias rerum officia animi sequi quis nesciunt ipsa
      cupiditate culpa aliquid fugit ex repellat eius, modi neque tempore hic
      mollitia, impedit officiis nemo velit itaque? Velit molestiae nemo animi
      esse repellendus nobis quam, doloribus dignissimos? Aliquam repellendus
      cumque, laborum voluptas recusandae repellat natus quasi, distinctio
      deserunt earum temporibus amet qui ad fugit laboriosam corporis! Quo
      numquam aliquam rerum rem neque iure labore nostrum molestias consequatur
      fuga. Quasi commodi velit, quam ut rem nihil. Saepe, sapiente aspernatur.
      Obcaecati nihil doloribus dolorum tempora nobis. Aut dolore cupiditate,
      aliquam assumenda quasi modi neque aspernatur nesciunt rerum nostrum. A
      dolorem voluptatem aliquid repellat.
    </div>
    <div></div>

    <div>III. PROPOSED SOLUTION</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="uppercase col-span-3 text-start">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
      repellendus mollitia ea, distinctio dicta minima tempora velit sint
      excepturi sapiente rem soluta necessitatibus doloremque dolor earum
      aliquam sit deleniti? Quis minus debitis harum recusandae doloribus illo
      quam consequuntur maxime, sequi inventore dolor cumque aut nesciunt
      perspiciatis dicta voluptas possimus sit, veniam et culpa magni! Quo
      placeat qui, totam commodi eum voluptatem libero suscipit, nostrum alias
      cum illum quasi. Ab aliquam incidunt blanditiis commodi ducimus nostrum
      doloremque labore inventore provident tenetur, cupiditate culpa laboriosam
      quis quaerat odio iusto pariatur perspiciatis, repellat odit. Unde ad
      adipisci architecto cumque eveniet et, dolores ab qui. Quos dolore autem
      ut, nisi nam sequi reiciendis ea alias, fugit facere possimus? Autem,
      officiis. Id voluptatum ea voluptatibus tenetur, quaerat assumenda soluta
      pariatur sapiente ut, sit et, sed ipsum voluptas fugit. Ipsa mollitia
      impedit maxime ad repellat magnam consequatur quisquam ea voluptatum
      distinctio labore expedita dignissimos esse, molestiae necessitatibus
      facere debitis nulla error amet eveniet ut et obcaecati quasi quod. Quis
      laborum mollitia quibusdam doloremque iste quod a corporis soluta, aliquid
      fugit eligendi dicta quo quos aspernatur maiores, ullam nisi architecto
      neque eius vitae quidem quia voluptate recusandae porro? Expedita optio
      eligendi distinctio veritatis labore perferendis quisquam laborum?
    </div>
    <div class="uppercase col-span-3 text-start">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
      voluptates? Vitae, mollitia accusantium incidunt amet eaque explicabo
      cumque sapiente suscipit obcaecati esse nostrum fugit, eligendi molestiae,
      exercitationem blanditiis atque et magni fugiat delectus quia unde.
      Deserunt, est sapiente rerum mollitia quibusdam, accusantium tempora eius
      itaque hic consequatur perspiciatis cumque, delectus atque veniam?
      Blanditiis suscipit ad repellendus, ullam nemo fugit autem iste voluptatem
      enim nam! Dolorum consequatur laborum ratione expedita enim voluptatem
      dolores vitae ipsam id at! Excepturi tempore aperiam, dolore laboriosam
      quia ex consectetur obcaecati distinctio minima nihil ea aliquid
      perferendis officiis et. Dolorum illo voluptatum quisquam minus. Sit
      consequatur fuga molestias rerum officia animi sequi quis nesciunt ipsa
      cupiditate culpa aliquid fugit ex repellat eius, modi neque tempore hic
      mollitia, impedit officiis nemo velit itaque? Velit molestiae nemo animi
      esse repellendus nobis quam, doloribus dignissimos? Aliquam repellendus
      cumque, laborum voluptas recusandae repellat natus quasi, distinctio
      deserunt earum temporibus amet qui ad fugit laboriosam corporis! Quo
      numquam aliquam rerum rem neque iure labore nostrum molestias consequatur
      fuga. Quasi commodi velit, quam ut rem nihil. Saepe, sapiente aspernatur.
      Obcaecati nihil doloribus dolorum tempora nobis. Aut dolore cupiditate,
      aliquam assumenda quasi modi neque aspernatur nesciunt rerum nostrum. A
      dolorem voluptatem aliquid repellat.
    </div>
    <div></div>
  </div>

  <div
    class="mt-28 grid grid-cols-12 gap-x-3 gap-7 p-4 w-full text-xs text-gray-200 font-mono_lite uppercase"
  >
    <div class="col-span-8"></div>
    <div class="col-span-2">CREDITS</div>
    <div class="col-span-2 grid grid-cols-2 gap-4">
      <p class="text-[0.7rem] text-gray-400">PHOTOs & CONCEPT</p>
      <a href="https://tobiafaverio.com" target="_blank">TOBIA FAVERIO</a>
      <p class="text-[0.7rem] text-gray-400">DEVELOPMENT</p>
      <div class="flex flex-col gap-1">
        <a href="https://youssefhanna.it" target="_blank">YOUSSEF HANNA</a>
        <a href="https://benzebra.github.io" target="_blank"
          >FILIPPO BRAJUCHA</a
        >
        <a href="https://micheledinelli.github.io" target="_blank"
          >MICHELE DINELLI</a
        >
      </div>
      <p class="text-[0.7rem] text-gray-400">DESIGN</p>
      <a
        href="https://www.linkedin.com/in/martina-bracchi-0544491b0/"
        target="_blank"
        >MARTINA BRACCHI</a
      >
      <div class="col-span-2 text-gray-400">
        ALL IMAGES ARE SHOT &#64;
        <a href="https://www.lafonte-agriturismo.it/" target="_blank"
          >LA FONTE</a
        >, PERUGIA, ITALY
      </div>
    </div>
  </div>
</div>
