<div class="w-full h-full bg-black">
  <splide
    [options]="{
       classes:{
          prev  : 'splide__arrow--prev arrow-none',
          next  : 'splide__arrow--next arrow-none',
      },
      pagination: false,
      gap: '0rem',
      fixedWidth: '88px',
      fixedHeight: '60px',
      perPage: 16,
      perMove: 6,
      autoplay: true,
      }"
  >
    @for (image of images(); track $index) {
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', image.id]">
        <img class="object-cover h-full w-full" src="assets/1.jpg" alt="" />
      </div>
    </splide-slide>
    }
  </splide>
</div>
