<div class="w-full h-full bg-black">
  <splide
    [options]="{
       classes:{
          prev  : 'splide__arrow--prev arrow-none',
          next  : 'splide__arrow--next arrow-none',
      },
      pagination: false,
      gap: '0rem',
      fixedWidth: '88px',
      fixedHeight: '60px',
      perPage: 16,
      perMove: 6,
      autoplay: true,
      }"
  >
    <splide-slide>
      <div class="w-full h-full">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full scursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/4.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/3.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/2.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/1.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/4.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/3.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/2.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/1.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/4.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/3.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/2.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/1.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/4.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/3.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/2.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/1.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/4.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/3.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/2.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/1.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/4.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/volpe.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/3.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/2.jpg" alt="" />
      </div>
    </splide-slide>
    <splide-slide>
      <div class="w-full h-full cursor-pointer" [routerLink]="['/archive', '1867']">
        <img class="object-cover h-full w-full" src="assets/1.jpg" alt="" />
      </div>
    </splide-slide>
  </splide>
</div>
