<div class="w-full h-full z-50 text-white font-mono_lite overflow-hidden">
  <video autoplay muted loop playsInline class="w-full h-4/6 object-cover">
    <source src="/assets/wild-boar-lost.mp4" type="video/mp4" />
  </video>

  <p class="opacity-75 p-2">
    Glad to see you here! we don't support mobile visitors since the archive
    deserves a bigger screen. Please come back from desktop.
  </p>

  <div class="absolute bottom-0 text-[11px] opacity-75 p-2">
    <p>
      ACULEI is an interactive archive based on huntercameras shoot recorded
      since 2020 around Picco dell'Aquila valley in Umbria, Italy. For more info
      or to get in touch, please write to
      <a class="underline" href="info@tobiafaverio.com"
        >info&#64;tobiafaverio.com</a
      >
    </p>
  </div>
</div>
