@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "texgyreheros-regular";
  src: url("/fonts/qhv2/texgyreheroscn-regular.otf") format("opentype");
}

@font-face {
  font-family: "mono-lite-regular";
  src: url("/fonts/qhv2/Q-04LITE-Regular.ttf") format("opentype");
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  .text-shadow-md {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  }
  .text-shadow-lg {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}

.cursor-prev {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='40'><text x='0' y='30' font-family='monospace' font-size='0.8em' fill='white'>PREVIOUS</text></svg>")
      0 0,
    auto;
}

.cursor-next {
  font-family: "mono-lite-regular";
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='40'><text x='0' y='30' font-family='monospace' font-size='0.8em' fill='white'>NEXT</text></svg>")
      0 0,
    auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.background-div {
  background-image: url("/assets/aculo.webp");
}

#camStream,
#canvas {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}

#camStream,
#canvas,
#canvasFinal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "mono-lite-regular";
}
