@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "texgyreheros-regular";
  src: url("/fonts/qhv2/texgyreheroscn-regular.otf") format("opentype");
}

@font-face {
  font-family: "mono-lite-regular";
  src: url("/fonts/qhv2/Q-04LITE-Regular.ttf") format("opentype");
}

.background-div {
  background-image: url('/assets/aculo.png');
}
/* .background-archive-detail {
  background-image: url('/assets/aculo.png');
} */


.splide__arrow--prev.arrow-none {
  display: none !important;
}

.splide__arrow--next.arrow-none {
  display: none !important;
}

#camStream, #canvas {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}

#camStream, #canvas, #canvasFinal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#canvasFinal {
  background-image: url('https://lh3.googleusercontent.com/opBDNnhXBe1aiLOp3C9yatntR-8fQptvgDu8C1LSZM68khdJh6AQgIHdgWU_T80_2MBhQLjgrJwR6mY=w3840-h2160-rw-no');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


